#pages .page {
  display: none;
  text-align: center;
}

#pages .page:first-child {
  display: block;
}

body {
  background-image: url("img/background1.png");
  background-repeat: repeat;
}

.table {
  background-color: rgba(255, 255, 255, 0.6);
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

ul {
  list-style: none;
}
#displayMaxMinTemp {
  font-weight: bold;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
